= raw({:name => @match.name, :id => @match.id, :bio => @match.bio, :mobile_number => @match.phone, :email =>@match.email, :photo_url => @match.photo.url, :company => @match.company, :title => @match.title, :headline => @match.headline, :reasons => @match.match_reasons}.to_json)
