<style type="text/css">
	.content{
		height:420px;	
}	
</style>
<div class="column1"><img src="/images/template/iphone-placeholder.png" alt="palceholder-image" width="228" height="420" /></div> 
  <div class="column2"> 
    <ul> 
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed faucibus. Nam a felis et eros condimentum placerat. </li> 
      <li>Integer non ante quis diam luctus suscipit. Maecenas mi mauris, ullamcorper ut, ullamcorper sit amet, elementum sed, purus.</li> 
      <li>Pellentesque lobortis, nibh sit amet tristique fringilla, sem velit ultricies turpis, nec cursus sapien nibh at neque.</li> 
    </ul> 
    <div class="appstore-button"><a href="#"><img src="/images/template/appstore-button.png" alt="" width="159" height="52" /></a></div> 
    <div class="android-button"><a href="#"><img src="/images/template/android-button.png" alt="" width="161" height="51" /></a></div> 
  </div> 
  <div class="column3"> 
  </div>
</div>
