%h1
	about 
	%span.subhead us 

%p.subhead What Is HereMatch?
%div.hr

%p 
	HereMatch is the world's first and only social network combining detailed profiles, mobile location-based check in services, and proprietary matching algorithms. HereMatch is a business network connecting real people in real places in real time. HereMatch launched in March of 2011. The company is privately held and headquartered in New York City.
	%br/
	%br/

%p.subhead About the Founders
%div.hr

%p Stephen P. Levin is an Internet entrepreneur with over 15 years of experience designing and developing web-based applications and online marketing solutions. With HereMatch Steve expects to radically transform how people meet and interact in real social and business settings. Steve holds a bachelor's degree in Philosophy from Yale University.

%p Neil Levin has over 40 years of experience owning and operating small businesses in diverse b2b and b2c industries including video games, insurance, and web design. Neil is an extraordinary networker able to instinctively find prospects in any room. With HereMatch Neil expects to level the playing field so that anyone can find prospects as easily as he can regardless of their experience, training, or innate instinct. Neil holds a bachelor's degree in Economics from Brooklyn College.