%h1
	advertising 
	%span.subhead opportunities

%p.subhead Promote your Place or Event for Free!
%div.hr

%p To do so, just log in, click on the <a href="/places/new">Add Places</a> or <a href="/events/new_wizard">Add Events</a> links in the navigation bar and fill out the forms.

%p Or, when at your Place or Event open up the mobile HereMatch app, tap Check In, and scroll to the Add Places or Add Events options, select the one you want, and fill out the form – no need to add the address on the mobile app.

%p 
	It is as simple as that. No credit card fees! No hassles! Your Place or Event will begin displaying immediately on HereMatch! Your visitors and attendees will be able to Check In and generate additional value when visiting you at no cost to them or you!
	%br
	%br

%p.subhead Want Greater Visibility?
%div.hr

%p Advertising opportunities are available on the HereMatch web site and mobile app. Contact us at <a href="mailto:advertising@herematch.com">advertising@herematch.com</a> for more information.