%h1
	contact 
	%span.subhead us

%p
	%strong
		Support Issues
	%br
	Have an account question? Run into an issue you need some help with? Email <a href="mailto:help@herematch.com">help@herematch.com</a>
	
%p
	%strong
		Press Inquiries
	%br
	Like what we're doing? Want to know more? Looking to do a story? Email <a href="mailto:press@herematch.com">press@herematch.com</a>

%p
	%strong
		Career Opportunities
	%br
	Looking to work here? Think you're a good match? Check out our <a href="career-opportunities.html">Career Opportunities</a>.

%p
	%strong
		Advertising Opportunities 
	%br
	Looking for more exposure for your Place or Event? Check out our <a href="advertising-opportunities.html">Advertising Opportunities</a>.
