   <h1>career <span class="subhead">opportunities</span></h1> 
    <p class="subhead">Marketing</p> 
    <div class="hr"></div> 
    <p><strong>Platform Evangelist </strong><br /> 
    HereMatch is looking for an experienced, professional, and highly motivated Platform Evangelist to join our team. The ideal candidate will have experience working with the small business community in New York City. If you love the idea of planning fun and creative ways to extend our community and grow our base of users, and most importantly want to work here, then we want to see if you are a match!</p> 
    <p><strong>Responsibilities </strong></p> 
    <ul> 
      <li>Attend Events and be the face of HereMatch in the community </li> 
      <li>Blog and Tweet and Connect </li> 
      <li>Write our Newsletter </li> 
      <li>Check In and Match</li> 
    </ul> 
    <p><strong>Requirements </strong><br /> 
    </p> 
    <ul> 
      <li>Excellent verbal and written communication skills </li> 
      <li>Enthusiasm, energy, and drive </li> 
      <li>Being a social connector and influencer </li> 
      <li>Experience networking with small businesses at small business events </li> 
      <li>Know which events draw the biggest crowds and why </li> 
      <li>Be the life of the party </li> 
      <li>BA </li> 
      <li>5 years marketing experience</li> 
    </ul> 
<p class="smalltext">To apply email us at <a href="mailto:jobs@herematch.com">jobs@herematch.com</a></p> 
