%h1
	press 
	%span.subhead releases
	
%p
	%strong HereMatch Announces New Location-Based Social Networking Service For Business

%p
	%em HereMatch launches the first location-based social network that matches real people in real places in real time.

%p
	%strong Long Island City, NY – March 12, 2011
	– HereMatch, the world's first and only social network combining detailed profiles, mobile location-based check in services, and proprietary matching algorithms, today announced the launch of HereMatch.com and the HereMatch service.

%p HereMatch is designed to allow real people to connect in real places in real time. The service targets the business community in general and is particularly useful to small businesses and business owners who market their products and services through traditional networking methods such as Chamber of Commerce events, business card exchanges, trade shows, and networking group meetings. HereMatch Co-founder, Stephen P. Levin says, &quot;Over the years Social Networking has metamorphosed into Social Media. It has become more about publishing content than making connections. We aim to change that.&quot;
	
%p The system has two components. The first, HereMatch.com, is a website where a user can sign up and create his or her profile, including general biographical information along with information on the services they offer and services they are in need of. The second, an iPhone app (available from the iTunes App Store), is used to Check In to Places and Events.

%p On Check In, HereMatch runs a proprietary matching algorithm against all other users at the same Place or Event. When a match is found, it is displayed on the user's iPhone along with contact options. According to HereMatch Co-founder, Neil Levin, &quot;To put it simply, the technology is a tool that helps its users do what they are trying to do – meet people they want to meet – but do it more efficiently&quot;.

%p
	%strong About HereMatch
	%br
	HereMatch is the world's first and only social network combining detailed profiles, mobile location-based check in services, and proprietary matching algorithms. HereMatch is a business network connecting real people in real places in real time. HereMatch launched in March of 2011. The company is privately held and headquartered in New York City.
