<h1>career <span class="subhead">opportunities</span></h1> 
<p class="subhead">Marketing</p> 
<div class="hr"></div> 

<p><strong>Public Relations Manager</strong><br /> 
HereMatch is looking for an experienced, professional, and highly motivated Public Relations Manager to join our team. The ideal candidate will have a deep understanding of web and mobile technologies as well as small business needs and networking and is an excellent communicator. If you have strong experience creating and managing high-profile communication initiatives, love working on cutting edge projects, and most importantly want to work here, then we want to see if you are a match!</p> 
<p><strong>Responsibilities </strong></p> 
<ul> 
  <li>Communicate with bloggers, press, and analysts </li> 
  <li>Manage press inquiries </li> 
  <li>Drive positive coverage </li> 
  <li>Create press materials </li> 
  <li>Protect and enhance HereMatch's reputation </li> 
</ul> 
<p><strong>Requirements </strong></p> 
<ul> 
  <li>Excellent verbal and written communication skills </li> 
  <li>Understanding of web and mobile technologies </li> 
  <li>Experience working with corporate and business media and bloggers </li> 
  <li>BA in marketing, communications, or equivalent </li> 
  <li>5 years marketing experience</li> 
</ul> 
<p class="smalltext">To apply email us at <a href="mailto:jobs@herematch.com">jobs@herematch.com</a></p> 
<!-- InstanceEndEditable -->