    <h1>career <span class="subhead">opportunities</span></h1> 
    <p class="subhead">Sales</p> 
    <div class="hr"></div> 
   <p><strong>Sales Executive </strong><br /> 
    HereMatch is looking for an experienced, professional, and highly motivated Sales Executive to join our team. The ideal candidate will be both a hunter and a gatherer, someone who can instinctively target the right person in the room, assess their needs, and help them reach their goals using our platform. If you love the idea of selling a product that helps others sell as well as you do, love working on cutting edge projects, and most importantly want to work here, then we want to see if you are a match!</p> 
    <p><strong>Responsibilities </strong></p> 
    <ul> 
      <li>Develop new business </li> 
      <li>Cold call prospective clients and partners </li> 
      <li>Engage warm leads to educate prospective clients </li> 
      <li>Develop compelling advertising packages</li> 
    </ul> 
    <p><strong>Requirements </strong></p> 
    <ul> 
      <li>Excellent verbal and written communication skills </li> 
      <li>Understanding of web and mobile technologies </li> 
      <li>Experience working with event planners </li> 
      <li>BA or equivalent experience </li> 
      <li>5 years sales and marketing experience</li> 
    </ul> 
<p class="smalltext">To apply email us at <a href="mailto:jobs@herematch.com">jobs@herematch.com</a></p> 
