    <h1>career <span class="subhead">opportunities</span>    </h1> 
    <p class="subhead">Engineering</p> 
    <div class="hr"></div> 
    <p><strong>Senior Web Engineer</strong><br /> 
    HereMatch is looking for an experienced, professional, and highly motivated Senior Web Engineer to join our team. The ideal candidate will have experience with the Ruby on Rails web application framework, SQL and NoSQL databases, cloud based hosting solutions, an eye for great design and function, and the drive to complete projects on time in a fast-paced environment. If you love coding, love working on cutting edge projects, and most importantly want to work here, then we want to see if you are a match!</p> 
    <p><strong>Responsibilities </strong><br /> 
    </p> 
    <ul> 
      <li>Assist in development of functional requirements Design and coding of new product features Enhancement of existing features Investigate the latest technologies Build it better than it was before. Better … stronger … faster.</li> 
    </ul> 
<p><strong>Requirements</strong></p> 
    <ul> 
      <li>Experience writing top quality web software with high volume and availability requirements </li> 
      <li>Experience writing applications using Ruby on Rails </li> 
      <li>Experience with Amazon S3 </li> 
      <li>Experience with Heroku Experience with HTML, CSS, Javascript, Ajax, jQuery </li> 
      <li>BS in CS or equivalent experience</li> 
    </ul> 
    <p class="smalltext">To apply email us at <a href="mailto:jobs@herematch.com">jobs@herematch.com</a></p> 
