    <h1>career <span class="subhead">opportunities</span></h1> 
    <p class="subhead">Engineering</p> 
    <div class="hr"></div> 
    <p><strong>Senior Mobile Engineer </strong><br /> 
    HereMatch is looking for an experienced, professional, and highly motivated Senior Mobile Engineer to join our team. The ideal candidate will have hands-on experience with iOS, Android, and jQTouch and web services, an eye for great design and function, and the drive to complete projects on time in a fast-paced environment. If you love coding, love working on cutting edge projects, and most importantly want to work here, then we want to see if you are a match!</p> 
    <p><strong>Responsibilities </strong></p> 
    <ul> 
      <li>    Assist in development of functional requirements </li> 
      <li>Design and coding of new product features </li> 
      <li>Enhancement of existing features </li> 
      <li>Investigate the latest technologies Build it better than it was before. Better … stronger … faster.</li> 
    </ul> 
    <p><strong>Requirements </strong></p> 
    <ul> 
      <li>Experience writing top quality web software with high volume and availability requirements</li> 
      <li>Experience writing applications for iOS and Android </li> 
      <li>Experience writing applications for Blackberry or Windows Phone 7 a plus </li> 
      <li>Experience optimizing web sites for mobile devices using jQTouch </li> 
      <li>Experience writing applications on web services </li> 
      <li>Strong UI design skills </li> 
      <li>BS in CS or equivalent experience</li> 
    </ul> 
 
<p class="smalltext">To apply email us at <a href="mailto:jobs@herematch.com">jobs@herematch.com</a></p>